/*******************
      GENERAL 
*******************/

:root {
  --primary: #f09d51;
  --black: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
}

a {
  text-decoration: none !important;
  color: inherit !important;
  cursor: pointer !important;
}

menu,
ul,
li {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
}


/*******************
      COLOR 
*******************/

.black {
  color: var(--black);
}

.orange-bold {
  color: var(--primary);
  font-weight: 700;
}

/*******************
BUTTON 
*******************/

button {
  background: none;
  border: 2px solid var(--black);
  font-family: "Nunito Sans", sans-serif;
  padding: 0.45em;
  ;
}

button:hover {
  background: var(--black);
  color: var(--primary);
}

/*******************
TEXT 
*******************/

.title {
  font-size: 45px;
  font-weight: 700;
}

.letter-spacing-3 {
  letter-spacing: 3px;
}

/*******************
    HERO LAYOUT
*******************/

.blur-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../../public/images/hero-bcg.jpeg") no-repeat center;
  background-size: cover;
  filter: blur(11px);
  z-index: -1;
}

.welcome,
.title,
.btn {
  position: relative;
  z-index: 1;
}

.hero {
  margin-bottom: 100px;
}

/*******************
    ABOUT LAYOUT
*******************/

.border-overlay {
  top: 10%;
  position: absolute;
  left: 20%;
  width: 75%;
  height: 100%;
  border: 5px solid var(--primary);
  pointer-events: none;
  z-index: -1;
}
