/*******************
      GENERAL 
*******************/

:root {
  --primary: #f09d51;
  --black: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: ChelineDeluxe;
}

a {
  text-decoration: none !important;
  color: inherit !important;
  cursor: pointer !important;
}

menu,
ul,
li {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
}


/*******************
      COLOR 
*******************/

.black {
  color: var(--black);
}

.orange-bold {
  color: var(--primary);
  font-weight: 700;
}

/*******************
BUTTON 
*******************/

button {
  background: none;
  border: 3px solid var(--black);
  padding: 0.66em;
}

button:hover {
  background: var(--black);
  color: var(--primary);
}

/*******************
TEXT 
*******************/

.title {
  font-size: 45px;
  font-weight: 700;
}

.letter-spacing-3 {
  letter-spacing: 3px;
}

/*******************
    HERO LAYOUT
*******************/

.hero {
  position: relative;
  margin-bottom: 4%;
}

.blur-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../../public/images/hero-bcg.jpeg") no-repeat center;
  background-size: cover;
  filter: blur(11px);
  z-index: -1;
}

.hero-vh {
  height: 71vh;
}


/*******************
    ABOUT LAYOUT
*******************/

.border-overlay {
  top: 10%;
  position: absolute;
  left: 20%;
  width: 75%;
  height: 100%;
  border: 5px solid var(--primary);
  pointer-events: none;
  z-index: -1;
}

